
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

.hind-madurai-bold {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.hind-madurai-regular {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* --- Navbar --- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 0; 
    border-bottom: 2px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.stat-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.navbar-left {
    display: flex;
    align-items: center;
    color: #1a4d2e;
    font-weight: bold;
}

.logo {
    width: 30px;
    margin-right: 10px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stat-item {
    display: flex;
    align-items: center;
    background-color: #f0fdf4;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
}


.green-button {
    background-color: #00A63E;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* --- Banner Section --- */

.banner-section {
    background-color: rgba(0, 103, 71, 1);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 0;
}

.govt-logo {

    width: 80px;
    margin-bottom: 20px;
}

.banner-title {
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
}

.banner-subtitle {
    font-size: 1.25em;
    font-style: italic;
    color: #FFFFFF;
    margin: 10px 0 0 0;
}
